<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet'>
    {% block title %}
    {% endblock title %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'story8.css' %}">
</head>
<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
            <a class="navbar-brand d-none d-lg-inline-block" href="/story3/#about-me">
                {% if request.user.is_authenticated %}
                Hello, {{ user.username }}!
                {% else %}
                Hello, there!
                {% endif %}
            </a>
            <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="/">
               Hello, there!
            </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
            <ul class="navbar-nav ml-auto flex-nowrap">
                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="/" class="nav-link m-2 menu-item nav-active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link m-2 menu-item">Gallery</a>
                </li>
                <li class="nav-item">
                    <a href="/schedule/isi" class="nav-link m-2 menu-item">Schedule</a>
                </li>
                <li class="nav-item">
                    <a href="/activity/content" class="nav-link m-2 menu-item">Activity</a>
                </li>
                <li class="nav-item">
                    <a href="/find_book" class="nav-link m-2 menu-item">Book Finder</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link m-2 menu-item">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="/login" class="nav-link m-2 menu-item">Login</a>
                </li>
                {%endif%}
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

    <div class="contacts" id="contacts">
      <h5>Contact me through:</h5>
          <a href="https://www.instagram.com/zalfaluqyana/" target="_blank">
          <img src="{% static 'img/instagram.png' %}" class="card-img-top"></a>
          <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=zalfalqyn@gmail.com&tf=1" target="_blank">
          <img src="{% static 'img/email.png' %}" class="card-img-top"></a>
          <a href="https://www.linkedin.com/in/zalfa-luqyana-akifah-a5825918b/" target="_blank">
          <img src="{% static 'img/linkedin.png' %}" class="card-img-top"></a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>