{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>List of Books</title>
{% endblock title %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container">
  <h5 class="abt" id="int">Book Finder</h5>
</div>
<input id="keyword" class="form-control book" placeholder="Search for books...">
<div class="wrapper">
<table class="table">
  <tbody class="content">
  </tbody>
</table>
</div>

<script type="text/javascript" src="{% static 'findbook.js' %}"></script>
{% endblock %}