{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>List of Activities</title>
{% endblock title %}

{% block content %}
{% if activity %}
<div class="container">
    <h5 class="gal" id="int">Activities</h5>
</div>

<div class="row gallery">
{% for isi in activity %}
<div class="col-md-4 card">
  <div class="card-body act">
    <h5 class="card-title act">{{isi.activity}}</h5>
    <p class="card-text act">{{isi.desc_activity}}</p>
  <ul class="list-group list-group-flush">
    {% if isi.registrant_set.all.count != 0 %}
    <li class="list-group-item"><b>Participant:</b></li>
    {% endif %}
    {% for person in registrant %}
    {% if person.chosen_activity == isi %}
    <li class="list-group-item">{{person.name}}</li>
    {% endif %}
    {% endfor %}
  </ul>
  <div class="card-body">
      {% if request.user.is_authenticated %}
      <a href="{% url 'registration' activity_id=isi.pk %}">
      {% else %}
      <a href="/login">
      {% endif %}
    <button type="button" class="btn btn-outline-danger act">Register</button></a>
  </div>
  </div>
</div>
{% endfor %}
</div>
{% if request.user.is_authenticated %}
<a href="/activity">
{% else %}
<a href="/login">
{% endif %}
<button type="button" class="btn sched"><b>Add New Activity</b></button></a>
{% else %}
<div class='container nodata'>
  <p id='notyet'>no activity has been added, yet</p>
  {% if request.user.is_authenticated %}
  <a href="/activity">
  {% else %}
  <a href="/login">
  {% endif %}
  <button type="button" class="btn sched"><b>Add New Activity</b></button></a>
</div>
{% endif %}
{% endblock %}