{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>Add Activity</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h5 class="gal" id="int">Add Activity</h5>
</div>

<div class="form-schedule container schedule row">
	<form method='POST'> {% csrf_token %}
		{{ form }}
		<input type = 'submit' class="button" value='Add Activity' />
	</form>
</div>
{% endblock %}