{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>About Me: Zalfa Luqyana Akifah</title>
{% endblock title %}

{% block content %}
<div class="card mb-3">
  <div class="row no-gutters">

      <div class="col-md-8 about-me" id="about-me">
          <div class="card-body about-me">
              <h5 class="card-title">About Me</h5>
              <p class="card-text">Hello guys! My name is Zalfa Luqyana Akifah but you can call me Zalfa. 
              I’m a 3rd semester Information Systems student, currently studying at University of Indonesia. 
              I enjoy listening to music and going to concerts to relieve my stress from college life. 
              I like to sing but I don’t really share my singing a lot and I’d rather keep it to myself. 
              I enjoy quiet environment very much because it makes me calm, but I do enjoy crowds sometimes 
              (like when I go to concerts and stuffs).</p>
          </div>
      </div>

      <div class="col-md-4">
          <img id="jalp" src="{% static 'img/atas.jpg' %}" class="card-img">
      </div>

  </div>
</div>
<div class="row no-gutters">

  <div class="col-md-6">
      <div class="card-body edex home">
          <h5 class="edu home">Education</h5>
              <ul class="card-text dashed">
                  <li class="isi">
                      <a href="https://www.cs.ui.ac.id/" target="_blank"> Information Systems Student at UI</a>
                  </li>
                  <li class="isi">
                      <a href="http://sman1tangerang.sch.id/index/" target="_blank"> SMAN 1 Kota Tangerang</a>
                  </li>
                  <li class="isi">
                      <a href="https://www.instagram.com/nevatatangerang/" target="_blank"> SMPN 4 Kota Tangerang</a>
                  </li>
              </ul>
      </div>
  </div>

  <div class="col-md-6">
      <div class="card-body edex home">
          <h5 class="exp home">Experience</h5>
          <ul class="card-text dashed">
              <li class="isi">
                  <a href="https://compfest.id/" target="_blank"> Direct Marketing Staff of COMPFEST</a>
              </li>
              <li class="isi">
                  <a href="https://www.instagram.com/asciipella/" target="_blank"> Secretary of the UKF Asciipella</a>
              </li>
              <li class="isi">
                  <a href="https://www.instagram.com/wisudacsui/" target="_blank"> VPIC of Public & Relations at Wisuda Ganjil 2021</a>
              </li>
          </ul>
      </div>
  </div>
</div>

<div class="container">
  <h5 id="int">Things I Like To Do</h5>
</div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner">
      <div class="carousel-item active">
          <a href="https://open.spotify.com/user/zalfalqyn?si=Uvg3ApdmQKW2HzGusTu-gQ" target="_blank">
              <img src="{% static 'img/int1.png' %}" class="d-block w-100"></a>
      </div>
      <div class="carousel-item">
          <a href="https://twitter.com/heikala_art/status/1046803474908950528" target="_blank">
          <img src="{% static 'img/int2.png' %}"class="d-block w-100"></a>
      </div>
      <div class="carousel-item">
          <a href="https://www.youtube.com/watch?v=T9jXluNbbqg" target="_blank">
          <img src="{% static 'img/int3.png' %}" class="d-block w-100"></a>
      </div>
      <div class="carousel-item">
          <a href="https://www.etsy.com/uk/listing/681775741/the-blue-deer-art-print?epik=dj0yJnU9Mk5XcU9nMENvVml3N3Vtb25neEJGZzB2TmpGdEFUbVQmcD0wJm49UXJPSzRTTmJnelpsb1VVc2x6YTV4dyZ0PUFBQUFBRjlya2dN" target="_blank">
          <img src="{% static 'img/int4.png' %}" class="d-block w-100"></a>
      </div>
  </div>

  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>

  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>

</div>

<div class="works" id="works">
      <h5 class="myworks">My Works</h5>
      <div class="row no-gutters">

          <div class="col-md-6 work-container">
              <div class="work-card">
                  <img src="{% static 'img/mjs.jpg' %}" class="card-img-top" id="img1">
                  <div class="work-body" id="img1desc">
                      <h5 class="work-title">Quarantine Project: Majesthrift.id</h5>
                      <p class="work-text">majesthrift.id is a reworked thrift clothing business that i worked on July - August 2020</p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-6 work-container">
              <div class="work-card">
                  <img src="{% static 'img/patch.jpg' %}" class="card-img-top">
                  <div class="work-body">
                      <h5 class="work-title">Clothing Design</h5>
                      <p class="work-text">made some designs for clothing patches to
                          rework some clothes</p>
                  </div>
              </div>
          </div>

          <div class="col-md-6 work-container">
              <div class="work-card">
                  <img src="{% static 'img/coffee.jpg' %}" class="card-img-top">
                  <div class="work-body">
                      <h5 class="work-title">Litered Bottle Coffee Design</h5>
                      <p class="work-text">My first attempt to make some designs needed 
                          for litered bottle coffee packaging.</p>
                  </div>
              </div>
          </div>
          
          <div class="col-md-6 work-container">
              <div class="work-card">
                  <img src="{% static 'img/70.jpg' %}" class="card-img-top">
                  <div class="work-body">
                      <h5 class="work-title">70</h5>
                      <p class="work-text">my very first song ever called 70 which i made
                          using my ukulele on June 2020</p>
                  </div>
              </div>
          </div>
          
      </div>

</div>

<h5 class="gal-title" id="gallery">Gallery</h5>
<div class="row no-gutters gallery">
  <div class="col-md-3 gal-pics">
      <img src="{% static 'img/img1.jpg' %}" class="card-img-top">
  </div>
  <div class="col-md-3 gal-pics">
      <img src="{% static 'img/img2.jpg' %}" class="card-img-top">
  </div>
  <div class="col-md-3 gal-pics">
      <img src="{% static 'img/img3.jpg' %}" class="card-img-top">
  </div>
  <div class="col-md-3 gal-pics">
      <img src="{% static 'img/img4.jpg' %}" class="card-img-top">
  </div>
</div>

<a href="/gallery"><button type="button" class="btn"><b>See More Pictures</b></button></a>

<div class="contacts" id="contacts">
  <h5>Contact me through:</h5>
      <a href="https://www.instagram.com/zalfaluqyana/" target="_blank">
      <img src="{% static 'img/instagram.png' %}" class="card-img-top"></a>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=zalfalqyn@gmail.com&tf=1" target="_blank">
      <img src="{% static 'img/email.png' %}" class="card-img-top"></a>
      <a href="https://www.linkedin.com/in/zalfa-luqyana-akifah-a5825918b/" target="_blank">
      <img src="{% static 'img/linkedin.png' %}" class="card-img-top"></a>
</div>
</div>
{% endblock %}