{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>Detail: {{schedule.matkul}}</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h5 class="gal" id="int">{{schedule.matkul}}</h5>
</div>

<div class="card detail" style="width: 50%;">
    <p class="card-text detail">{{schedule.desc}}</p>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><b>Dosen Pengajar</b><br>{{schedule.dosen}}</li>
    <li class="list-group-item"><b>Jumlah SKS</b><br>{{schedule.sks}}</li>
    <li class="list-group-item"><b>Semester/Tahun</b><br>{{schedule.semester}}</li>
    <li class="list-group-item"><b>Ruang Kelas</b><br>{{schedule.ruang}}</li>
  </ul>
  <div class="card-body">
    <a href="/schedule/isi"><button type="button" class="btn back"><b>Back to Schedule</b></button></a>
  </div>
</div>
{% endblock %}