{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>Gallery of Me: Zalfa Luqyana Akifah</title>
{% endblock title %}

{% block content %}

    <div class="container">
      <h5 class="gal" id="int">Gallery</h5>
    </div>
    <div class="row no-gutters gallery">
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img1.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img2.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img3.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img4.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img5.jpeg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img6.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img7.jpeg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img8.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img9.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img10.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img11.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img12.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img13.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img14.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img15.jpg' %}" class="card-img-top" />
      </div>
      <div class="col-md-3 gal-pics">
        <img src="{% static 'img/img16.jpg' %}" class="card-img-top" />
      </div>
    </div>
{% endblock %}