<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Pacifico"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=PT Sans"
      rel="stylesheet"
    />
    <title>About Me</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    <h5 id="judul">About Me</h5>
    {% load static %}
    <img id="foto" src="{% static 'img/me.jpg' %}" />
    <div id="isi">
      <p>Nama: Zalfa Luqyana Akifah</p>
      <p>NPM: 1906398963</p>
      <p>Angkatan: 2019</p>
      <p>Hobi: Mendengarkan musik, bermain ukulele, tidur</p>
      <p>Deskripsi tentang saya:</p>
      <p>
        Saya adalah anak ke-2 dari 2 bersaudara. Saya lahir pada tanggal 25
        Januari 2001 di Kota Tangerang. Sampai saat ini pun saya masih bertempat
        tinggal di Kota Tangerang. Meskipun begitu, jika perkuliahan sudah
        berjalan dengan normal, saya akan menetap di Depok di suatu Kost. Saya
        sangat senang mendengarkan musik. Setiap hari, saya pasti selalu
        menyetel musik. Seringkali saya mencari lagu-lagu enak yang tidak banyak
        orang ketahui. Untuk sekarang, saya sedang menyukai lagu-lagu lama
        karena lagunya yang ringan untuk didengar. Selain itu, saya juga
        terkadang memainkan ukulele sambil bernyanyi jika saya sedang bosan
        untuk mengisi waktu luang saya.
      </p>
      <p>Tempat Kuliah: Fakultas Ilmu Komputer, Universitas Indonesia</p>
      <p>Riwayat Pendidikan:</p>
      <ul>
        <li>SDN Karawaci Baru 4</li>
        <li>SMPN 4 Kota Tangerang</li>
        <li>SMAN 1 Kota Tangerang</li>
      </ul>
      <p>My Stories:</p>
      <ul>
        <a href="/"><li>Story 1 (current)</li></a>
        <a href="/story3"><li>Story 3</li></a>
      </ul>
    </div>
    <div id="igli">
      <p id="medsos">contact me through:</p>
      <a href="https://instagram.com/zalfaluqyana">
        {% load static %}
        <img id="ig" src="{% static 'img/ig.png' %}" />
      </a>
      <a href="https://www.linkedin.com/in/zalfa-luqyana-akifah-a5825918b/">
        {% load static %}
        <img id="ig" src="{% static 'img/li.png' %}" />
      </a>
    </div>
  </body>
</html>
