{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>List of Schedules</title>
{% endblock title %}

{% block content %}
{% if schedule %}
<div class="container">
    <h5 class="gal" id="int">Schedule</h5>
</div>
<div class='container table'>
<table class="table">
  <thead>
    <tr>
    	<th scope="col">No</th>
		<th scope="col">Mata Kuliah</th>
		<th scope="col">Dosen Pengajar</th>
		<th scope="col">Deskripsi</th>
		<th scope="col">Jumlah SKS</th>
		<th scope="col">Semester/Tahun</th>
		<th scope="col">Ruang Kelas</th>
		<th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  	{% for isi in schedule %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th> 
      <td><a href="{% url 'detailSchedule' id=isi.id %}">{{isi.matkul}}</a></td>
      <td>{{isi.dosen}}</td>
      <td>{{isi.desc}}</td>
      <td>{{isi.sks}}</td>
      <td>{{isi.semester}}</td>
      <td>{{isi.ruang}}</td>
      <td>
        {% if request.user.is_authenticated %}
        <a href="{% url 'deleteSchedule' id=isi.id %}">
        {% else %}
        <a href="/login">
        {% endif %}
        <button type="button" class="btn btn-outline-danger">Delete</button></a>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% if request.user.is_authenticated %}
<a href="/schedule">
{% else %}
<a href="/login">
{% endif %}
<button type="button" class="btn sched"><b>Add Schedule</b></button></a>
{% else %}
<div class='container nodata'>
	<p id='notyet'>no schedule has been added, yet</p>
  {% if request.user.is_authenticated %}
	<a href="/schedule">
  {% else %}
  <a href="/login">
  {% endif %}
  <button type="button" class="btn sched"><b>Add Schedule</b></button></a>
</div>
{% endif %}
{% endblock %}