{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>Add Schedule</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h5 class="gal" id="int">Add Schedule</h5>
</div>

<div class="form-schedule container schedule row">
	<form method='POST'> {% csrf_token %}
		{{ form }}
		<input type = 'submit' class="btn schedule" value='Submit' />
	</form>
</div>

{% endblock %}