{% extends 'story3.html' %}
{% load static %}

{% block title %}
<title>About Me: Zalfa Luqyana Akifah</title>
{% endblock title %}

{% block content %}
<div class="container abt">
  <h5 class="abt" id="int">More About Me</h5>
</div>

<div class="edex">
  
  <div class="accordion education">

    <div class="accor-title row">
      <h5 class="titles">Education</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>

    <div class="isi">
      <ul class="dashed">
        <li>
          <a href="https://www.cs.ui.ac.id/" target="_blank"> Information Systems Student at UI</a>
        </li>
        <li>
          <a href="http://sman1tangerang.sch.id/index/" target="_blank"> SMAN 1 Kota Tangerang</a>
        </li>
        <li>
          <a href="https://www.instagram.com/nevatatangerang/" target="_blank"> SMPN 4 Kota Tangerang</a>
        </li>
      </ul>
    </div>

  </div>

    <div class="accordion experience">

      <div class="accor-title row">
        <h5 class="titles">Experiences</h5>
        <div class="buttons">
          <div class="up">
            <img src="{% static 'img/up.png' %}">
         </div>
          <div class="down">
            <img src="{% static 'img/down.png' %}">
          </div>
        </div>
      </div>

      <div class="isi">
        <ul class="dashed">
          <li>
              <a href="https://compfest.id/" target="_blank"> Direct Marketing Staff of COMPFEST</a>
          </li>
          <li>
              <a href="https://www.instagram.com/asciipella/" target="_blank"> Secretary of the UKF Asciipella</a>
          </li>
          <li>
              <a href="https://www.instagram.com/wisudacsui/" target="_blank"> VPIC of Public & Relations at Wisuda Ganjil 2021</a>
          </li>
      </ul>
    </div>

  </div>

  <div class="accordion activity">

    <div class="accor-title row">
      <h5 class="titles">Current Activities</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>

    <div class="isi">
      <ul class="dashed">
        <li>Mengerjakan segala tugas & deadline 😵</li>
        <li>Nonton Startup tiap weekend untuk refreshing 🥰</li>
        <li>Begadang dan minum kopi ☕</li>
      </ul>
    </div>

  </div>

  <div class="accordion achievements">

    <div class="accor-title row">
      <h5 class="titles">Achievements</h5>
      <div class="buttons">
        <div class="up">
          <img src="{% static 'img/up.png' %}">
        </div>
        <div class="down">
          <img src="{% static 'img/down.png' %}">
        </div>
      </div>
    </div>
    
    <div class="isi">
      <ul class="dashed">
        <li>5th Winner of National Folklore Festival</li>
        <li>Juara 1 Ovethinking se-Indonesia</li>
        <li>Juara 3 Lomba Rebahan tingkat Kecamatan</li>
      </ul>
    </div>

</div>

<div class="contacts abt" id="contacts">
  <h5>Contact me through:</h5>
      <a href="https://www.instagram.com/zalfaluqyana/" target="_blank">
      <img src="{% static 'img/instagram.png' %}" class="card-img-top"></a>
      <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=zalfalqyn@gmail.com&tf=1" target="_blank">
      <img src="{% static 'img/email.png' %}" class="card-img-top"></a>
      <a href="https://www.linkedin.com/in/zalfa-luqyana-akifah-a5825918b/" target="_blank">
      <img src="{% static 'img/linkedin.png' %}" class="card-img-top"></a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'accordion.js' %}"></script>
{% endblock %}