body, html {
    height: 100%;
    margin:0;
    background: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v689batch2-nunny-04b-collgecopyspace_1.jpg?bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&q=80&usm=15&vib=3&w=1300&s=26211f5b76ba026d0505a714decc19a2");
}

#judul {
    font-family: Pacifico;
    font-size: 400%;
    text-align: center;
    margin: 0;
    color: indianred;
    text-shadow: 4px 4px darkslategrey;
}

#isi {
    font-family: PT Sans;
    font-size: 120%;
    margin-left: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 35%;
}

#foto {
    height: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    position: relative;
}

#medsos {
    text-align: center;
}

#ig {
    height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
}

#igli {
    text-align: center;
}