body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

a {
  color: black;
}

.d-inline-block {
  font-family: Lobster;
  font-size: 25px;
  color: white !important;
}

.navbar-brand {
  font-family: Lobster;
  font-size: 33px;
  color: white !important;
}

.navbar {
  background-color: #c75647;
}

.menu-item {
  color: white !important;
}

.col-md-8.about-me {
  background-color: #fdf5ee;
}

.card {
  border: 0px;
}

.card-title {
  margin: 75px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
}

.card-body.about-me {
  background-color: #fdf5ee;
}

.card-body.edex.home {
  margin-right: 0;
  margin-left: 0;
}

.card-text {
  font-size: 20px;
  text-align: center;
  margin: 40px;
}

.edu.home, .exp.home {
  text-align: center;
  border: 3px solid #f0a89e;
  border-radius: 12px;
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul.card-text.dashed {
  padding-left: 0;
}

.card.mb-3 {
  margin-top: 75px;
}

#jalp {
  border-radius: 0;
}

.edex {
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: 200px;
  margin-right: 230px;
}

#carouselExampleControls {
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 130px;
  display: block;
  position: relative;
}

.edex .accordion {
  position: relative;
  margin: 10px 20px;
  padding-left: 50px;
  padding-right: 25px;
}

.titles {
  padding-top: 9px;
  padding-left: 9px;
}
.edex .accordion .accor-title {
  border: 4px solid #f0a89e;
  border-radius: 12px;
  cursor: pointer;
  max-width: 100%;
  margin-top: 20px;
}

div.accor-title.row {
}

.accor-title.row.active {
  border: 4px solid #c75647;
}

.edex .accordion.active .accor-title {
  border: 4px solid #c75647;
}

.buttons {
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 3px;
}

.buttons img:hover {
  background: rgba(180, 180, 180, 0.82);
}

.edex .accordion .accor-title:hover {
  border: 4px solid #c75647;
}

.edex .accordion .isi {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
}

.edex .accordion.active .isi {
  height: 100px;
}

.isi li {
  padding-top: 10px;
}

.up img{
  max-width: 15px;
}

.down img{
  max-width: 15px;
}

.accorTitle h5{
  display: flex;
  padding-top: 9px;
}

a:hover {
  text-decoration: none;
  color: #c75647;
}

ul {
  margin: 0;
}

ul.dashed {
  list-style-type: none;
}

li {
  text-align: center;
}

li.isi {
  margin-top: 20px;
  margin-bottom: 20px;
}

#int {
  text-align: center;
  font-size: 40px;
  background: 10px #fdf5ee;
  box-shadow: 15px 15px #f0a89e;
}

#int.gal {
  margin-top: 120px;
}

#int.abt {
  margin-top: 120px;
}

.container {
  width: 470px;
  padding-bottom: 50px;
}

.container.abt {
  padding-bottom: 10px;
}

.myworks {
  font-size: 40px;
  padding-left: 70px;
  padding-bottom: 20px;
}

.works {
  padding: 30px;
}

.work-title {
  font-size: 20px;
  text-align: left;
}

.work-body {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 1px;
}

.work-card {
  background-color: #fdf5ee;
  border-radius: 30px;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
}

.work-container {
  margin-bottom: 50px;
}

.works img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100%;
}

.work-text {
  height: 48px;
}

h5.gal-title {
  text-align: center;
  font-size: 30px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.gal-pics img {
  height: 250px;
  width: 250px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  position: relative;
  border-radius: 10px;
}

#gallery.gal-title.focus {
  margin-top: 150px;
}

.btn {
  background-color: #fdf5ee;
  color: #c75647;
  border-color: #c75647;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.btn.schedule {
  margin-top: 40px;
  margin-bottom: 60px;
}

.btn.btn-outline-danger {
  margin: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: white;
}

.btn.btn-outline-danger.act {
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  background-color: #c75647;
  color: #fdf5ee;
}

.btn.back {
  margin-top: 0px;
}

.btn:hover {
  background-color: #c75647;
  color: #fdf5ee;
}

.contacts {
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.contacts img {
  height: 30px;
  width: 30px;
  padding-right: 7px;
  padding-top: 7px;
  margin-bottom: 30px;
}

.gal-pics img:hover {
  margin-top: 20px;
  margin-bottom: 0px;
  height: 300px;
  width: 300px;
}

.works img:hover + .work-body {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #573F39;
  color: white;
}

.work-body:hover {
  background-color: #573F39;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: white;
}

.form-schedule {
  padding: 20px;
}

.dropdown-item {
  padding-left: 15px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-right: 15px;
}

.dropdown-menu {
  min-width: 100%;
}

.container.schedule {
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 0px;
  display: block;
  position: relative;
  width: 55%;
}

.form-control {
  margin-bottom: 20px;
}

.table thead th {
  vertical-align: middle;
}

.card.detail {
    margin-right: auto;
    margin-left: auto;
}

.card-text.detail {
  margin-top: 0px;
  margin-bottom: 10px;
}

.container.nodata {
  margin-top: 250px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 35px;
}

#notyet {
  color: #3E2D2A;
}

.btn.sched {
  margin-top: 50px;
  margin-bottom: 50px;
}

.container.table {
  margin-bottom: 0px;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.card-body.act {
  border: 2px solid #f0a89e;
  border-radius: 20px;
  margin: 30px;
  /*background-color: #fdf5ee;*/
  box-shadow: 5px 5px #f0a89e;
}

.card-title.act {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.card-text.act {
  margin-top: 20px;
  margin-bottom: 10px;
}

.contacts.abt {
  margin-bottom: 0;
  margin-top: 50px;
}