body,
html {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  scroll-behavior: smooth;
}

a {
  color: black;
}

.d-inline-block {
  font-family: Lobster;
  font-size: 25px;
  color: white !important;
}

.navbar-brand {
  font-family: Lobster;
  font-size: 33px;
  color: white !important;
}

.navbar {
  background-color: #c75647;
}

.menu-item {
  color: white !important;
}

a:hover {
  text-decoration: none;
  color: #c75647;
}

ul {
  margin: 0;
}

ul.dashed {
  list-style-type: none;
}

li {
  text-align: center;
}

li.isi {
  margin-top: 20px;
  margin-bottom: 20px;
}

#int {
  text-align: center;
  font-size: 40px;
  background: 10px #fdf5ee;
  box-shadow: 15px 15px #f0a89e;
}

#int.gal {
  margin-top: 120px;
}

#int.abt {
  margin-top: 120px;
}

.container {
  width: 470px;
  padding-bottom: 10px;
}

.btn {
  background-color: #fdf5ee;
  color: #c75647;
  border-color: #c75647;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.contacts {
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}

.contacts img {
  height: 30px;
  width: 30px;
  padding-right: 7px;
  padding-top: 7px;
  margin-bottom: 30px;
}

.dropdown-menu {
  min-width: 100%;
}

.form-control {
  margin-bottom: 20px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  display: block;
  position: relative;
  border-radius: 10px;
  height: 100%;
}

#bookimg {
  max-height: 300px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

ul#booklist {
  list-style-type: none !important;
}
.col-md-4 {
  margin-top: 20px;
  padding-left: 0;
  padding-right: 50px;
}

.col-md-2 {
  text-align: center;
  margin-top: 30px;
  padding-right: 0;
  padding-left: 40px;
}

.row {
  margin-top: 30px;
  margin-right: 0;
  margin-left: 0;
}

p.title {
  margin-top: 10px;
  margin-bottom: 5px;
}

.wrapper {
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 30px;}

.table thead {
  text-align: center;
  background-color: #FFCBBF;
}

.title, .author, .category {
  text-align: center;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
    border-top: 1px solid #dee2e6;
}

.tr:hover {
  background-color: #fdf5ee;
}