body {
	background-color: #c75647;
}

.container {
	background-color: white;
	width: 500px;
	text-align: center;
	height: 560px;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 12px;
	border-color: black;
}

.login {
	font-size: 40px;
	padding: 60px 0 20px 0;
	margin-bottom: 0;
}

.form-control {
	width: 80%;
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}

label {
	padding-top: 30px;
}

.btn {
  background-color: #fdf5ee;
  color: #c75647;
  border-color: #c75647;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  display: block;
  position: relative;
}

.btn:hover {
  background-color: #c75647;
  color: #fdf5ee;
}

.question {
	margin-bottom: 0;
}

a {
	color: #da2a52;
}

a:hover {
	text-decoration: none;
	color: black;
}

.signup {
	font-size: 40px;
	padding: 25px 0 3px 0;
	margin-bottom: 0;
}

.container.signup {
	height: 600px;
}

label {
	font-size: 15px;
}

.alert.alert-danger, .alert.alert-success {
	z-index: 1;
	line-height: 15px;
}

a.close {
	cursor: pointer;
	line-height: 10px;
}

.alert-danger {
	background-color: floralwhite;
}

.alert-success {
	background-color: whitesmoke;
}

form {
	text-align: left;
}

label {
	padding-left: 50px;
}